* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

@font-face {
    font-family: Myfont;
    src: url("./GT Pressura Mono Regular Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: hero;
    src: url("./Anton-Regular.ttf");
}
header{
    height: 9vh;
    width: 100%;
    /* background-color:#E4E4E4; */
    display: flex;
    padding: 0px 30px;
    font-family: Myfont;
    font-size: 14.4px;
    font-weight:300;
    position: fixed;
    z-index: 9999;

}
.left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 150px;

}
.right{
    height:100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-self: first baseline;
    gap: 550px;
}
.hero{
    height: 90%;
    width: 100%;
    background: #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    
}
.hero h1{
    font-size: 180px;
    line-height: 190px;
    font-family: hero;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 9%;

}
.cardfoll{
    height: 300px;
    width: 250px;
    /* background-color: pink; */
    position: fixed;
    /* z-index: 999; */
    border-radius: 10px;
    overflow: hidden;

}

.cardfoll video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.video-container{
    height: 100vh;
    width: 100%;
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.video-container video{
    z-index: 999;
    height: 98%;
    width: 98%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 9.6%;
}
.description{
    margin-top: 20%;
}
.description h6{
    font-size: large;
    font-family: Myfont;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: lighter;
    

}
.description h1{
    font-family: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    margin-top: 2%;
}

.projects{
    margin-top: 18%;
}
.projects h6{
    font-size: large;
    font-family: Myfont;
    display: flex;
    justify-content:flex-start;
    font-weight: lighter;
    margin-left: 1%;

}
.projects h1{
    font-family: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    text-align: center;
    line-height: 100px;
    margin-top: 12%;
}
.menu{
    height: 100%;
    width: 200%;
    background-color: rgb(207, 197, 197);
    position: fixed;
    z-index: 99;
    top: -100%;
    right: 0%;
    left: -106px;

}
#menuclick{
    cursor: pointer;
}

.texts{
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 18px;
    /* border: 5px solid; */
    font-size: 150px;
    overflow: hidden;
    /* position: relative; */
    line-height: 150px;
    position:fixed;
    opacity: 0;
    z-index: 99;
    font-family: hero; 
    text-transform: uppercase;
    bottom: 0%;
    align-items: end;
    
}
.text{
    /* border: 1px solid red; */
    /* height: 50px; */
    margin-left: 90px;
    text-align:justify;
}
.texthom, .textStu{
    margin-top: 2%;
    /* width: 90%; */
    /* height: 100%; */
    display: block;
    
  
}